:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--slate: #434455;
	--cloud: #f4f4fd;
	--cornflower: #e7e9fc;
	--light-slate: #8e8f99;
	--green: #31d0aa;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--diary: #fcfcfc;
}
* {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
	border: none;
	border-radius: 4px;
}
ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--slate);
	background-color: white;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.body-text {
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	color: var(--slate);
	background-color: white;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	padding: 0 16px;
}

img {
	display: block;
}

.header-one {
	font-weight: bold;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
	margin-top: 188px;
}

h1 {
	color: white;
	max-width: 496px;
}
.header-two {
	font-weight: bold;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	color: var(--navy-blue);
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 8px;
}

.container {
	width: 1158px;
	margin: 0 auto;
	padding: 0 15px;
}

.list {
	list-style: none;
}

.sec-padding {
	padding: 120px 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.header-two .visually-hidden {
	margin-bottom: 8px;
}

/* header + footer*/

.header-container {
	border-bottom: 1px solid var(--cornflower);
	/* height: 72px; */

	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-alignment {
	display: flex;
	flex-direction: row;
	gap: 332px;
	justify-content: space-between;
	align-content: center;
}
.header-li {
	padding: 24px 0;
}

.nav-container- {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.nav-box {
	align-self: center;
}
.footer {
	background-color: var(--navy-blue);
	color: var(--cloud);
	padding: 100px 0;
}
.container-footer {
	width: 1158px;
	padding: 120px 0;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	gap: 24px;
}
/* .footer-box {
	margin-right: 120px;
} */

.footer-text {
	color: var(--cloud);
	max-width: 264px;
}
.footer-text-media {
	color: white;
	margin-bottom: 16px;
	font-weight: 500;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	align-items: center;
	gap: 40px;
}

.nav-link {
	text-decoration: none;
	color: var(--navy-blue);

	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	list-style-type: none;
	padding: 24px 0;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
	position: relative;
}
a .nav-link,
.nav-list .nav-link {
	list-style: none;
}

.nav-link:hover,
.nav-link:focus {
	color: var(--ocean);
}

.nav-link-active {
	color: var(--ocean);
	display: block;
	flex-direction: column;
	padding: 24px 0;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-active::after {
	color: var(--ocean);
	content: "";
	position: absolute;
	bottom: -1px;
	height: 4px;
	border-radius: 2px;
	background-color: var(--ocean);
	width: 100%;
	display: inline-block;
	left: 0;
}

hr {
	display: none;
	width: 100%;
	left: 0;
}

.nav-link-active::after .active {
	border-style: solid;
	border-top: 4px;
	content: "";
	position: absolute;
	box-shadow: none;
	position: absolute;
	bottom: -1px;
	height: 4px;
	border-radius: 2px;
	background-color: var(--ocean);
	width: 100%;
	left: 0;
}

.address-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 40px;
	list-style: none;
	align-items: center;
}

.address-link {
	text-decoration: none;
	font-style: normal;
	color: var(--slate);
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	list-style-type: none;
	line-height: 1.5;
	letter-spacing: 0.02em;
	align-self: center;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:focus,
.address-link:hover,
.address-link:active {
	text-decoration: none;
	color: var(--ocean);
}

.link {
	text-decoration: none;
}

.logo {
	text-transform: uppercase;
	color: var(--iris);
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	margin-right: 76px;
}

.logo-light {
	color: var(--cloud);
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	margin-left: 0;
	padding: 0;
}
.logo:hover {
	color: var(--ocean);
}

.logo-dark {
	color: var(--navy-blue);
}

.logo-footer {
	margin-bottom: 16px;
	text-decoration: none;
}

.logo-display {
	display: inline-block;
}
.footer-media {
	gap: 16px;
	display: flex;
	flex-direction: row;
}
.footer-link {
	width: 100%;
	height: 100%;
	background-color: var(--iris);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
	background-color: var(--green);
}

/* footer form subscribe */

.footer-form {
	display: flex;
	flex-direction: row;
	gap: 24px;
}

.input-form {
	border: 1px solid white;
	background-color: transparent;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	border-radius: 4px;
	width: 264px;
	height: 40px;
	color: white;
	padding: 8px 16px;

	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-btn {
	min-width: 165px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	background-color: var(--iris);
	padding: 8px 24px;
	color: white;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04rem;
	gap: 24px;
}
.subscribe-btn:focus,
.subscribe-btn:hover {
	background-color: var(--ocean);
}
.svg-subscribe {
	margin-left: 16px;
}

/* index */
.index-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 24px;
}
/* section 1 */
.solutions-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section-one {
	background-color: var(--navy-blue);
	color: white;
	background-image: linear-gradient(
			rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7)
		),
		url(../images/peopleoffice.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 1440px;
	height: 600px;
	max-width: 1440px;
	margin: 0 auto;
}
.single-button {
	min-width: 169px;
	height: 56px;
	display: block;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	background-color: var(--iris);
	padding: 16px 32px;
	margin: 48px;
	color: white;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.single-button:focus,
.single-button:hover {
	background-color: var(--ocean);
	color: #ffffff;
}

/* section 2 */
.sec-two-card {
	width: calc((100% - 72px) / 4);
}
.header-three-index {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--navy-blue);
	padding: 0;
	text-align: left;
	margin-bottom: 8px;
}

.icon-wrapper {
	background-color: var(--cloud);
	padding-block: 24px;
	margin-bottom: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 112px;
	border-radius: 4px;
}

.icon-wrapper > svg {
	margin: auto;
	display: block;
	width: 64px;
	height: auto;
}

.sec2-body-text {
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	color: var(--slate);
	background-color: white;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	padding: 0;
}

/* section 3 */
.sec-three,
.sec-four,
.sec-five {
	margin-bottom: 72px;
}

.sec-three-card {
	width: calc((100% - 48px) / 3);
}

.sec3-padding {
	padding: 0 0 120px 0;
}
/* section 4 - team */
.team-card {
	background-color: white;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0 1px 6px 0 #2e2f4214, 0 1px 1px 0 #2e2f4229,
		0 2px 1px 0 #2e2f4214;
}
.team-card-footer {
	padding: 32px 0px;
}
.team-card-footer-p {
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	color: var(--slate);
	background-color: white;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	padding: 0 16px;
	text-align: center;
	margin-bottom: 8px;
}
.media {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	gap: 24px;
}
.media-wrapper {
	width: 40px;
	height: 40px;
}

.footer-link > svg {
	margin: auto;
	display: block;
	height: auto;
}

.media-link {
	width: 100%;
	height: 100%;
	background-color: var(--iris);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover,
.media-link:focus {
	background-color: var(--ocean);
}
.media-icon {
	fill: var(--cloud);
	margin: 0 auto;
}

.header-three-team {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--navy-blue);
	padding: 0;
	text-align: center;
	margin-bottom: 8px;
}

/* section 5 - customers */
.sec-five-card {
	width: calc((100% - 120px) / 6);
	height: 88px;
}

.customers-wrapper > svg {
	margin: auto;
	display: block;
	width: 104px;
	padding: 32px 16px;
}
.customer-link {
	width: 100%;
	height: 100%;
	border: 1px solid var(--light-slate);
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--light-slate);
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:hover,
.customer-link:focus {
	color: var(--ocean);
	border-color: var(--ocean);
}

.customer-icon {
	fill: currentColor;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon:hover,
.customer-icon:focus {
	fill: var(--ocean);
}
/* portfolio  */
.menu-button {
	background-color: var(--cloud);
	color: var(--iris);
	border: 1px solid var(--cornflower);
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	margin: 12px;
	height: 48px;
	border-radius: 4px;
	padding: 12px 24px;
	text-wrap: nowrap;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:focus,
.menu-button:hover,
.menu-button:active {
	background-color: var(--ocean);
	color: white;
	border: 1px solid transparent;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}
.header-two-portfolio {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--navy-blue);
	padding: 0 16px;
	text-align: left;
	margin-bottom: 8px;
}
.portfolio-sec {
	padding: 96px 0 120px 0;
}

.portfolio-container-cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	padding: 0;
	column-gap: 24px;
	row-gap: 48px;
}

.portfolio-card {
	width: calc((100% - 48px) / 3);
}
.portfolio-card-img {
	position: relative;
	overflow: hidden;
	height: 300px;
}

.portfolio-card-p {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: var(--iris);
	color: var(--cloud);
	padding: 40px 32px;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-p::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100%;
	right: 0;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-block:hover .portfolio-card-p,
.link-block:focus .portfolio-card-p {
	transform: translateY(0%);
}

.portfolio-card-footer {
	border: 1px solid var(--cornflower);
	border-top: none;
	padding: 32px 16px;
}

.portfolio-container-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* width: 586px; */
	gap: 24px;
	margin-bottom: 72px;
}

.link-block {
	display: block;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-block:hover,
.link-block:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* backgrounds */

.background-cloud {
	background-color: var(--cloud);
}

.background-navy {
	background-color: var(--navy-blue);
	color: white;
	padding: 188px 0;
}

/* modal */
.backdrop {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(46, 47, 66, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
	position: absolute;
	width: 408px;
	min-height: 584px;
	background-color: var(--diary);
	border: 1px solid var(--light-slate);
	border-radius: 4px;
	top: 50%;
	left: 50%;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	transform: translate(-50%, -50%) scale(1);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 1;
	display: flex;
	flex-direction: column;
	padding: 72px 24px 24px 24px;
}

.button-x {
	width: 24px;
	height: 24px;
	background-color: var(--cornflower);
	color: var(--navy-blue);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	position: absolute;
	top: 24px;
	right: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-x:hover,
.button-x:focus {
	background-color: var(--ocean);
	border: none;
}

.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.svg-x {
	fill: var(--navy-blue);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-x:hover .svg-x,
.button-x:focus .svg-x {
	fill: #ffffff;
}

.header-modal {
	color: var(--navy-blue);
	align-self: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	margin-bottom: 16px;
}

.form-modal {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.input-modal {
	width: 100%;
	height: 40px;
	border: 1px solid var(--navy-blue-modal);
	border-radius: 4px;
	background-color: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	color: var(--navy-blue);
	padding-left: 38px;
	outline: transparent;
}

.input-modal:hover,
.input-modal:focus,
.input-modal:active {
	border: 1px solid var(--iris);
}

.textarea-modal {
	width: 100%;
	height: 120px;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	border: 1px solid var(--navy-blue-modal);
	border-radius: 4px;
	background-color: transparent;
	padding: 8px 16px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	color: var(--navy-blue-modal);
	outline: transparent;
	resize: none;
}

.textarea-modal:hover,
.textarea-modal:focus,
.textarea-modal:active {
	border: 1px solid var(--iris);
}

.input-box {
	position: relative;
}

.input-label {
	font-size: 12px;
	color: var(--light-slate);
	line-height: 1.17;
	letter-spacing: 0.04em;
	display: block;
	margin-bottom: 4px;
}

.checkbox-modal {
	border: 1px solid var(--navy-blue-modal);
	border-radius: 2px;
	width: 16px;
	height: 16px;
}

.modal-link {
	color: var(--iris);
}

.send-button {
	min-width: 169px;
	height: 56px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	background-color: var(--iris);
	padding: 8px 24px;
	margin: 24px 96px;
	color: white;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-button:focus,
.send-button:hover {
	background-color: var(--ocean);
}

.modal-icon {
	color: var(--navy-blue);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-container-modal {
	color: var(--navy-blue);
	display: inline-block;
	align-content: center;
	width: 100%;
	position: relative;
	left: 0;
	margin-bottom: 8px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	gap: 8px;
}
.input-modal:hover + .svg-modal,
.input-modal:focus + .svg-modal,
.input-modal:active + .svg-modal {
	color: var(--iris);
	fill: var(--iris);
}

.svg-modal {
	fill: var(--navy-blue);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 16px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* 
.input-box:hover + .input-modal .svg-modal,
.input-box:focus + .input-modal .svg-modal,
.input-box:active .svg-modal {
	fill: var(--iris);
	border-color: var(--iris);
}

.svg-modal:hover,
.svg-modal:focus {
	fill: var(--iris);
} */

.terms-container {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-content: center;
	color: var(--navy-blue);
	width: 100%;
	position: relative;
	left: 0;
	margin-bottom: 16px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-privacy-container {
	margin-bottom: 24px;
}
.user-privacy-span {
	width: 16px;
	height: 16px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 2px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1),
		fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	fill: transparent;
	margin-right: 8px;
}

/* .svg-checkbox {
	background-color: transparent;
} */
.checkbox-modal:checked + .input-label .user-privacy-span {
	background-color: var(--ocean);
	border: none;
	fill: var(--cloud);
}

.visually-hidden {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}
